*{
    margin:0;
    padding:0;
}

body{
    background-color: rgba(140, 134, 122, 0.801);    
}

.invisible{
    display: none;
}
@media screen and (max-height: 640px) and (max-width:640px){
    
#Principal{
    background-color: rgba(141, 123, 136, 0.801);
    width: 95vw;
    height: 100vh;
    margin: auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.basicosBurbuja{
    border-radius: 10px;
    width: 85vw;
    margin: 0 auto;
}

#Navegador{
    display: grid;
    grid-template-columns: 1fr 15vw 50vw 15vw 1fr;
    grid-template-rows: 1fr;
    background-color: #90CDD6;
    height: 12vh;
    width: 100%;
    margin-top: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    z-index: 3;  
}

#whiteboard{
    position: absolute;
    background-color: white;
    z-index: 3;
    width: 95%;
    height: 120%;
}

#CuerpoFotos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    height: 55vh;
    overflow-y: auto ;    
}

.tarjetas{
    height: 80%;
    width: 80%;
}

.cardBody{
    height: 30vh;
    width: 30vw;
}
.card{
    height: 50px;
    width: 50px;
}

.h-100 h5{
    font-size: 10px;
}

.h-100 p{
    font-size: 10px;
}

.carousel-inner{
    border-radius: 10px;
}

.carousel{
    height: 41vh;
    width: 78vw;
}

.carousel img{
   
    height: 40vh;
    width: 50vh;
}

.carousel button{
    background: transparent;
}

#nombreProducto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    height: 10vh;
}

#nombre{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 0rem;
}

#precio{
    text-align: right;
    margin-right: 10px;
    margin-bottom: 9px;
      
    
}

#CantidadCompra{
    display: flex;
    background-color: aliceblue;
    height: 20vh;
}

#PiePagina{
    display: flex;
    background-color: aliceblue;
    height: 8vh;
    justify-content: space-evenly;
    font-size: calc(2vh + 1vw);
    font-weight: normal;
}

#PiePagina p{
    display: flex;
    align-items: center;
    height: 100%;
    margin-bottom: 0;
}

#imagenMenuHamburguesa{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    width: 60%;
    max-height: 70%;
    align-self: center;
    justify-self: left;    
}

#divCarrito{
    background-image:url("/imagenes/carrito-de-compras.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: left;
    display: grid;
    grid-column: 4;
    grid-row: 1;
    width: 60%;
    height: 10vh;
    max-height: 70%;
    align-self: center;
    justify-self: right;

    grid: 1fr  3fr / 1fr 3vh;
}

#numArticulosEnCarrito{
    position:sticky;
    grid-column: 2;
    grid-row: 1;
    justify-self: right;
    background-color: rgba(231, 81, 61, 0.938);
    border: -1px solid transparent;
    border-radius: 50% 50%;
    font-size: calc(0.3em + 0.7vh + 1vw);
    font-weight: bold;
    text-align: center;
    text-justify: center;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 1;
}

#divCarrito:active{
    width: 70%;
    height: 70%;
    
    background-position:center;
}

.tituloNombre{
    display: grid;
    grid-column: 3/4;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    font-family: 'Tangerine', serif;
    font-size: calc(9vw + 2vh);
    font-weight: bolder;
    max-width: 50vw;
    max-height: 10vh;
    text-align:center;
    margin-bottom: 0;
}

#carrito{    
    background-image:url("/imagenes/wood-2045379_1280.jpg");
    position: absolute;
    top: 12vh;
    bottom: 25vh;
    right: 0;
    left:0;
    height: calc(100vh - 12vh - 8vh - 1vh - 5vh - 14vh - 2vh);
    
    padding-bottom: 2vh;

    overflow-y: auto;   
}

#totalCarrito{
    background-color: #F0D67B;
    position: absolute;
    bottom: auto;
    top: calc(4vh + 12vh + (100vh - 12vh - 8vh - 1vh - 5vh - 14vh - 2vh) );

    
    right: 0;
    left:0;
    height: 13vh;

    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    overflow: hidden;
    
    align-content: center; 

}

#menuNavFlotante{
    position: absolute;
    background-color: #F0D67B;
    height: calc(100vh - 12vh + 10px );
    top: calc(12vh - 10px);
    width: 35vw;
    height:auto;
    z-index: -1;
    opacity:0;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
/*Pantalla login*/
#Login{
    position: absolute;
    top: 0vh;
    bottom: 0vh;
    right: 0;
    left:0;
    height: 75vh;
    margin-top: 50px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
    margin-right: 25px;
    margin-left: 25px;
    font-size: 10px;
    row-gap: 0px;
    color: rgb(197, 197, 197);
    border-radius: 30px;
    
}
#tempnav{

    display: flex;
    justify-content: center;
    align-items: top;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 20px;
    color: rgb(41, 41, 41);
    background-color: #f2e794;
}
#Texts{
    background-image: url(https://images.pexels.com/photos/91484/pexels-photo-91484.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    font-size: 12px;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    -webkit-text-stroke: 0.004in black;
    flex-direction: column;
    row-gap: 10px;
    color: white;

}
#Username{
    background-color: rgb(190, 190, 190);
    border-radius: 20px;
    display: flex;   
    flex-direction: column;
    padding: 10px;
}
#Password{
    background-color: rgb(190, 190, 190);
    border-radius: 20px;
    display: flex;
    padding: 10px;
    flex-direction: column;
}
#UserIntro{
    margin-left: 10px; 
    border: solid 1px white;   
    border-radius: 20px;
}
#PasswordIntro{
    margin-left: 10px;
    border: solid 1px white;   
    border-radius: 20px;
}
#botonUser{
    background-color: #6670a4;
    margin-left: auto;
    width: 60px;
    height: 25px;
    margin: auto;
    border-radius: 20px;
    border: solid 1px #6670a4;   
    color: white;
}
#botonfondo{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-items: center;
    background-color: #90CDD6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#olvidapsw{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    color: black;
}
input{
    width: auto;
}
footer{
    z-index: 2;

}
#Navegador>img:active{
    width:70%;
}

#menuNavFlotante li{
    list-style: none;
    margin: 0;
    width: 100%;
    word-wrap:break-word;
    overflow: hidden;
}

#menuNavFlotante hr{
    width: 20vw;
    min-width: 30vw;
    border-color: black;
    margin: 0;
}

#menuNavFlotante ul{
    margin:0;
    padding: 2vh 2vw 1vh;
}

.unProducto{
    width: 90%;
    height: 10vh;
    background-color: antiquewhite;
    margin: 1.5vh auto 0 2vw;
    border-radius: 10px;
    
    font-family: 'Tangerine', serif;
    font-size: calc(0.5em + 2vh + 2vw);
    font-weight: bold;
    text-align: left; 
    align-items:flex-end;
    overflow: hidden;       

    display:grid;
    grid-template-columns: 25% 5% 45% 15% 10%;
    grid-template-rows: 70% 30%;
}

.fotoProducto{
    
    height: 8vh;
    width: 95%; 
    border-radius: 50%;
    align-self: center;
    justify-self: center;
       
    
    grid-column: 1/2;
    grid-row: 1/3;
}

.nombreProducto{
    grid-column: 3;
    grid-row: 1;
    overflow: hidden; 
}

.precioProducto{
    grid-column: 3;
    grid-row: 2;
    overflow: hidden; 
}

.cantidadProducto{
    grid-column: 4;
    grid-row: 1;
    overflow: hidden; 
}

.precioProductoTotal{
    grid-column: 4;
    grid-row: 2;
    overflow: hidden; 
}

.iconoPapelera{
    grid-column: 5;
    grid-row: 1/2;
    width:70%;
}

#totalCarrito p{
    align-self: center;
    font-family: 'Tangerine', serif;
    font-size: calc(4vw + 2vh);
    font-weight: bold;
    margin-bottom: 0;
    justify-self: center;
    word-wrap: break-word;
    
}

#totalCarrito p:nth-child( 2 ){    
    font-size: calc(1em + 4vw + 4vh);
    font-weight:900;
    height: 10vh;
    display:contents;
    
}

#totalCarrito img{
    height:10vh;
    align-self: center;
    justify-self: center;
}

/*Codigo recuadro cantidad (Kevin)*/
.cajadecantidad {
    display: flex;
        align-items: center;
        position: absolute;
        width: 90vw;
        height: 20vh;
        padding-right: 10%;
        padding-left: 10%;
}

.cajadecantidad h1 {
    width: 40%;
    overflow: hidden;
}

/* TEXTO */

.ponme {
    max-height: 90%;
    margin-left: 4%;
    margin-right: 4%;
    color: white;
    max-width: 25%;
    font-size: calc(100% - vw - vh);
}

/* CANTIDAD */

.cantidadcuadrado {
    background-color: white;
    border-radius: 10px;
    height: 10vh;
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cantidad {
    max-width: 15%;
    max-height: 40%;
    border: #ffffff;
}

.flechas {
    margin-left: 20%;
    max-width: 0%;    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 50%;
}

.aumentar {
    border: 0px solid #ffffff; /*anchura, estilo y color borde*/
    background-color: #ffffff; /*color botón*/
    color: #000000; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    max-width: 10%;
    max-height: 10%;
    margin-top: 20%;
    
}    

img.aumentar {
    max-height: 10px;
}

.disminuir {
    border: 0px solid #ffffff; /*anchura, estilo y color borde*/
    background-color: #ffffff; /*color botón*/
    color: #000000; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    width: 30%;
    height: 10%;
}

/* AÑADIR AL CARRITO */

.plus {
    margin-left: 8%;
    width: 9vw;
    height: 5vh;
}

.carrito {
    position: relative;
    width: 12vw;
    height: 7vh;
    min-height: 50%;
    margin-right: 5%;
}

.desktop {
    display: none;
}


/* POP UPS FOOTER */
.popUpsDelFooter{
    position: absolute;
    top: 13vh;
    bottom: 25vh;
    right: 0;
    left:0;
    height: calc(100vh - 13vh - 9vh);
    background-color: aquamarine;
    padding-bottom: 2vh;
    overflow-y: auto; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
}

.tituloDelPopUp{
    font-size: x-large;
    font-weight: bold;

}




}

/*Control de apariencia DESKTOP (Kevin)*/

/* DESKTOP */

@media screen and (min-height: 640px) and (min-width:640px){

    .desktoparriba {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 50vh;
        align-items: center;
    }
    
    .desktopabajo {
        display: flex;
        justify-content: center;
        height: 10vh;
        align-items: center;
    }
    
    .desktop {
        background-color: rgb(177, 135, 80);
    }
    
    #PiePagina {
        display:none;
    }
    
    #Principal {
        background-color: rgba(255, 255, 255, 0.801);
        width: 95vw;
        height: 100vh;
        margin: auto; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .basicosBurbuja{
        border-radius: 10px;
        width: 85vw;
        height: 10vw;
        margin:auto
    
    }
    
    #Navegador{
        display: grid;
        grid-template-columns: 1fr 15vw 50vw 15vw 1fr;
        grid-template-rows: 1fr;
        background-color: #90CDD6;
        height: 12vh;
        width: 100%;
        margin-top: 0;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        z-index: 3;  
    }
    
    #CuerpoFotos{
        display: none;
    }
    
    #CantidadCompra{
        display: grid;
        background-color: rgb(224, 209, 72);
        height: 20vh;
    }
    
    .cajadecantidad {
        display: flex;
            align-items: center;
            position: absolute;
            width: 90vw;
            height: 20vh;
            padding-right: 10%;
    }
    
    .cajadecantidad h1 {
        width: 40%;
        overflow: hidden;
    }
    
    /* TEXTO */
    
    .ponme {
        max-height: 90%;
        margin-left: 4%;
        color: white;
        max-width: 25%;
        font-size: calc(100% - vw - vh);
    }
    
    /* CANTIDAD */
    
    .cantidadcuadrado {
        background-color: white;
        border-radius: 10px;
        padding-left: 20px;
        height: 10vh;
        width: 20%;
        display: flex;
        align-items: center;
    }
    
    #cantidad {
        max-width: 15%;
        max-height: 40%;
        border: #ffffff;
    }
    
    .flechas {
        margin-left: 20%;
        max-width: 20%;    
        width: 100px;
        height: 50px;
        
    }
    
    .aumentar {
        border: 0px solid #ffffff; /*anchura, estilo y color borde*/
        background-color: #ffffff; /*color botón*/
        color: #000000; /*color texto*/
        text-decoration: none; /*decoración texto*/
        text-transform: uppercase; /*capitalización texto*/
        font-family: 'Helvetica', sans-serif; /*tipografía texto*/
        border-radius: 50px; /*bordes redondos*/
        width: 300%;
        font-size: 130%;
        height: calc(50% - 100px);
        margin-top: 20%;
        
    }    
    
    .disminuir {
        border: 0px solid #ffffff; /*anchura, estilo y color borde*/
        background-color: #ffffff; /*color botón*/
        color: #000000; /*color texto*/
        text-decoration: none; /*decoración texto*/
        text-transform: uppercase; /*capitalización texto*/
        font-family: 'Helvetica', sans-serif; /*tipografía texto*/
        border-radius: 50px; /*bordes redondos*/
        width: 300%;
        font-size: 130%;
        height: calc(100% - 100px);
    }
    
    /* AÑADIR AL CARRITO */
    
    .plus {
        margin-left: 8%;
        width: 9vw;
        height: 5vh;
    }
    
    .carrito {
        position: relative;
        width: 12vw;
        height: 7vh;
        min-height: 50%;
    }
    
    
    
    #imagenMenuHamburguesa{
        display: grid;
        grid-column: 2;
        grid-row: 1;
        width: 60%;
        max-height: 70%;
        align-self: center;
        justify-self: left;    
    }
    
    #divCarrito{
        background-image:url("/imagenes/carrito-de-compras.png");
        background-size:contain;
        background-repeat: no-repeat;
        background-position: left;
        display: grid;
        grid-column: 4;
        grid-row: 1;
        width: 60%;
        height: 10vh;
        max-height: 70%;
        align-self: center;
        justify-self: right;
    
        grid: 1fr  3fr / 1fr 3vh;
    }
    
    #numArticulosEnCarrito{
        position:sticky;
        grid-column: 2;
        grid-row: 1;
        justify-self: right;
        background-color: rgba(231, 81, 61, 0.938);
        border: -1px solid transparent;
        border-radius: 50% 50%;
        font-size: calc(0.3em + 0.7vh + 1vw);
        font-weight: bold;
        text-align: center;
        text-justify: center;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    
    #divCarrito:active{
        width: 70%;
        height: 70%;
        
        background-position:center;
    }
    
    .tituloNombre{
        display: grid;
        grid-column: 3/4;
        grid-row: 1;
        align-self: center;
        justify-self: center;
        font-family: 'Tangerine', serif;
        font-size: calc(9vw + 2vh);
        font-weight: bolder;
        max-width: 50vw;
        max-height: 10vh;
        text-align:center;
        margin-bottom: 0;
    }
    
    #carrito{
        background-color: rgb(23, 108, 182);
        position: absolute;
        top: 12vh;
        bottom: 9vh;
        right: 0;
        left:0;
        margin:auto;
        height: calc(100vh - 12vh - 8vh - 1vh - 5vh);
        
    }
    
    #menuNavFlotante{
        position: absolute;
        background-color: rgb(190, 27, 27);
        height: calc(100vh - 12vh + 10px );
        top: calc(12vh - 10px);
        width: 35vw;
        height:auto;
        z-index: -1;
        opacity:0;
    
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    #Navegador>img:active{
        width:70%;
    }
    
    #menuNavFlotante li{
        list-style: none;
        margin: 0;
        width: 100%;
        word-wrap:break-word;
        overflow: hidden;
    }
    
    #menuNavFlotante hr{
        width: 20vw;
        min-width: 30vw;
        border-color: black;
        margin: 0;
    }
    
    #menuNavFlotante ul{
        margin:0;
        padding: 2vh 2vw 1vh;
    }
    
    .popUpsDelFooter{
        position: absolute;
        top: 13vh;
        bottom: 25vh;
        right: 0;
        left:0;
        height: fit-content;
        background-color: aquamarine;
        overflow-y: auto; 
        display: flex;
        align-items: center;
        justify-content:space-evenly;
    }
    
    .tituloDelPopUp{
        font-size: x-large;
        font-weight: bold;

    }
    
    #PiePagina{
        display: flex;
        background-color: aliceblue;
        height: 8vh;
        justify-content: space-evenly;
        font-size: calc(2vh + 1vw);
        font-weight: normal;
    }
    
    #PiePagina p{
        display: flex;
        align-items: center;
        height: 100%;
    }
    .basicosBurbuja{
        border-radius: 10px;
        width: 85vw;
        margin: auto;


    }
}