*{
    margin:0;
    padding:0;
}

body{
    background-color: rgba(141, 135, 123, 0.801);
}

@media screen and (max-height: 640px) and (max-width:640px){
#Principal{
    background-color: rgba(141, 123, 136, 0.801);
    width: 95vw;
    height: 100vh;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.basicosBurbuja{
    border-radius: 35px;
    width: 85vw;
    margin:auto

}

#Navegador{
    display: flex;
    background-color: rgb(195, 196, 197);
    height: 12vh;
    width: 100%;
    margin-top: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    
}

#CuerpoFotos{
    display: flex;
    background-color: aliceblue;
    height: 45vh;
}

#CantidadCompra{
    display: grid;
    background-color: rgb(224, 209, 72);
    height: 20vh;
}

.cajadecantidad {
    display: flex;
        align-items: center;
        position: absolute;
        width: 90vw;
        height: 20vh;
        padding-right: 10%;
}

.cajadecantidad h1 {
    width: 40%;
    overflow: hidden;
}

/* TEXTO */

.ponme {
    max-height: 90%;
    margin-left: 4%;
    color: white;
    max-width: 25%;
    font-size: calc(100% - vw - vh);
}

/* CANTIDAD */

.cantidadcuadrado {
    background-color: white;
    border-radius: 10px;
    padding-left: 20px;
    height: 10vh;
    width: 20%;
    display: flex;
    align-items: center;
}

#cantidad {
    max-width: 15%;
    max-height: 40%;
    border: #ffffff;
}

.flechas {
    margin-left: 20%;
    max-width: 20%;    
    width: 100px;
    height: 50px;
    
}

.aumentar {
    border: 0px solid #ffffff; /*anchura, estilo y color borde*/
    background-color: #ffffff; /*color botón*/
    color: #000000; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    width: 300%;
    font-size: 130%;
    height: calc(50% - 100px);
    margin-top: 20%;
    
}    

.disminuir {
    border: 0px solid #ffffff; /*anchura, estilo y color borde*/
    background-color: #ffffff; /*color botón*/
    color: #000000; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    width: 300%;
    font-size: 130%;
    height: calc(100% - 100px);
}

/* AÑADIR AL CARRITO */

.plus {
    margin-left: 8%;
    width: 9vw;
    height: 5vh;
}

.carrito {
    position: relative;
    width: 12vw;
    height: 7vh;
    min-height: 50%;
}

#PiePagina{
    display: flex;
    background-color: aliceblue;
    height: 8vh;
    margin-bottom: 1vh;
}
}