*{
    margin:0;
    padding:0;
}

body{
    background-color: rgba(141, 135, 123, 0.801);
}

@media screen and (max-height: 640px) and (max-width:640px){
#Principal{
    background-color: rgba(141, 123, 136, 0.801);
    width: 95vw;
    height: 100vh;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.basicosBurbuja{
    border-radius: 35px;
    width: 85vw;
    margin:auto

}

#Navegador{
    display: grid;
    grid-template-columns: 35px repeat(4,1fr) 35px;
    grid-template-rows: 1fr;
    background-color: #90CDD6;
    height: 12vh;
    width: 100%;
    margin-top: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    
}

#CuerpoFotos{
    display: flex;
    background-color: aliceblue;
    height: 45vh;
}

#CantidadCompra{
    display: flex;
    background-color: aliceblue;
    height: 20vh;
}

#PiePagina{
    display: flex;
    background-color: aliceblue;
    height: 8vh;
    margin-bottom: 1vh;
}

#imagenMenuHamburguesa{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    max-height: 5vh;
    align-self: center;
    justify-self: left;    
}


}